<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">{{ iue.options.title }}</h1>
</div>
<div class="wrapper-md">
  <div class="m-b">
    请选择一个图片
    <input type="file" id="fileInput" />
  </div>
  <div class="hbox hbox-auto-xs">
    <div class="col">
      <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
        <div class="bg-light" style="height:320px">
          <img-crop
                  image="iue.image"
                  result-image="iue.croppedImage"
                  result-image-size="iue.croppedImageSize"
                  area-type="{{ iue.cropType }}"
          ></img-crop>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="inline bg-white wrapper-sm b-a">
        <div class="bg-light">
          <img ng-src="{{ iue.croppedImage }}" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer bg-white">
  <button class="btn btn-default" ng-click="iue.cancel()"> 取消 </button>
  <button class="btn btn-primary" ng-click="iue.ok()"> 确定 </button>
</div>